* {
    color: #002733;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../pics/repeating_background.jpg);
}

.wrapper {
    margin: auto;
    width: 60%;
    border: 3px solid #00ace6;
    padding: 10px;
    background-color: white;
}

hr {
    color:  #00ace6;
    background-color: #00ace6;
    border-width: 0;
    height: 3px;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e65c00;
}

p {
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 1em;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.quote {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #ffe0cc;
    padding: 10px;
    text-align: center;
}

header {
    text-shadow: 2px 2px #ffe0cc;
    text-align: center;
}
header h1 {
    color: #e65c00;
}

/* -------- Links -------- */

a:link {
    text-decoration: none;
    color: #00ace6;
}

a:visited {
    color: #e65c00;
}

a:hover {
    color: #ffd1b3;
    cursor: pointer;
}

/* ----------- Form style ---------- */
input {
	border: solid 1px #00ace6;
	border-radius: 4px;
	padding:5px;
	outline: none;
}

textarea {
	width:98.5%;
	height: 5em;
	padding: 5px;
	border: solid 1px #00ace6;
	border-radius: 4px;
}

select {
	border: solid 1px #00ace6;
	border-radius: 4px;
	padding: 5px;
}

fieldset {
	border: solid 2px #ffb380;
}

legend {
	color: #007399;
	font-size:1.3em;
	font-weight: 600;
}

input:focus {
	background-color: #ffe0cc;
}

textarea:focus {
	background-color: #ffe0cc;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #00ace6;
  border: none;
  color: white;
  padding: 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* ---------- Footer ----------- */
footer {
    padding: none;
    background-color: #e5f9ff;
}

footer p {
    clear: both;
    text-align: center;
    padding: 5px;
}